{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Turnos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
{% if centro_id is defined %}
  <form action="{{ url_for('turno_new', centro_id=centro_id) }}">
    {{csrf_token}}
    <div class="form-inline">
    {{wtf.form_field(form.fecha,type="Date")}}
    <input type="submit" value="Crear turno"  class="btn btn-success mr-sm-2">
  </div>
  </form>
{% else %}

  <form action="{{ url_for('turno_new_all') }}">
      {{csrf_token}}
      <div class="form-inline">
      {{wtf.form_field(form.fecha,type="Date")}}
      {{wtf.form_field(form.centro_id)}}
      <input type="submit" value="Crear turno"  class="btn btn-success mr-sm-2">
    </div>
  </form>

{% endif %}

{% if centro_id is defined %}
  <form class="form-inline md-form mr-auto mb-4" action="{{ url_for('turno_search', centro_id=centro_id) }}">
    {{csrf_token}}
    <h1 class="my-0 mr-md-auto font-weight-normal">Turnos del centro</h1>
    <input class="form-control mr-sm-2" type="text" name="email" placeholder="Ingrese email" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg></button>
    </form>
{% else %}
  <form class="form-inline md-form mr-auto mb-4" action="{{ url_for('turno_search_all') }}">
    {{csrf_token}}
    <h1 class="my-0 mr-md-auto font-weight-normal">Turnos del centro</h1>
    <!--<input class="form-control mr-sm-2" type="text" name="email" placeholder="Ingrese email" aria-label="Search">
    <input class="form-control mr-sm-2" type="text" name="centro" placeholder="Ingrese nombre de centro" aria-label="Search">-->
    {{ wtf.form_field(buscador.email) }}
    {{ wtf.form_field(buscador.centro) }}
      <button class="btn btn-light my-2 my-sm-0" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg></button>
    </form>
{% endif %}

  <div class="table-responsive-md">
  <table class="table">
  <thead>
    <tr>
      {% if centro_id is not defined %}
        <th scope="col">Centro</th>
      {% endif %}
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Hora</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <script type="text/javascript">
  function ConfirmDelete() {
      return confirm('Esta seguro')
    }
  </script>

  <tbody>
     {% for turno in turnos.items %}
    <tr>
      {% if centro_id is not defined %}
        <!--centro-->
        <td>{{ turno.centro.nombre }}</td>
      {% endif %}
      <!--email-->
      <td>{{ turno.email }}</td>
      <!--telefono-->
      <td>{{ turno.telefono }}</td>
        <!--hora-->
      <td>{{ turno.hora_inicio }} </td>
      <!--fecha-->
      <td>{{ turno.fecha }}</td>
        <!--opciones-->
      <td>
     <div class="form-inline ">
       <form action= "{{ url_for('turno_show', turno_id = turno.id ) }}"  >
         <button type="submit" class="btn btn-primary mt-2">Ver</button>
       </form>

       <form action="{{ url_for('turno_update', turno_id = turno.id ) }}"  >
         <button type="submit" class="btn btn-warning mt-2 ml-2">Editar</button>
       </form>

        <form action="{{ url_for('turno_delete') }}"method="POST" enctype="multipart/form-data">
          <input type="hidden" id="turno_id" name="turno_id" value="{{turno.id}}">
          <button type="submite" class="btn btn-danger mt-2 ml-2"  onclick="return ConfirmDelete()" >eliminar</button>
        </form>

      </div>
      </td>

    </tr>
    {% endfor %}
  </tbody>

</table>
</div>
<hr class="my-4">
<!--botones  de paginacion-->
{% if centro_id is defined %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if turnos.has_prev %}
          <li class="page-item"> <a class="btn btn-secondary" href="{{ url_for('turno_index',centro_id=centro_id, page=turnos.prev_num) }}">Anterior</a></li>
        {% else %}
          <li class="page-item"><a class="btn btn-secondary btn disabled" href="#">Anterior</a></li>
        {% endif %}


        {% if turnos.has_next %}
          <li class="page-item"> <a class="btn btn-primary" href="{{ url_for('turno_index',centro_id=centro_id, page=turnos.next_num) }}">Siguiente</a></li>
        {% else %}
          <li class="page-item"><a class="btn btn-primary btn disabled" href="#">Siguiente</a></li>
        {% endif %}

    </ul>
  </nav>
{% else %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if turnos.has_prev %}
        <li class="page-item"> <a class="btn btn-secondary" href="{{ url_for('turno_index_all', page=turnos.prev_num) }}">Anterior</a></li>
      {% else %}
        <li class="page-item"><a class="btn btn-secondary btn disabled" href="#">Anterior</a></li>
      {% endif %}


      {% if turnos.has_next %}
        <li class="page-item"> <a class="btn btn-primary" href="{{ url_for('turno_index_all', page=turnos.next_num) }}">Siguiente</a></li>
      {% else %}
        <li class="page-item"><a class="btn btn-primary btn disabled" href="#">Siguiente</a></li>
      {% endif %}

  </ul>
</nav>
{% endif %}
{% endblock %}
