{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block itemnavbar %}
<a class="p-2 text-dark" href="#">Solicitudes de sitio</a>
<a class="p-2 text-dark" href="#">Cargar Usuarios</a>
{% endblock %}
{% block perfil %}
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido admin!</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="#">Perfil</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">Cerrar Sesión</a>
</div>
{% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Usuarios</h1>
  {% for user in users %}
  <li>{{ user.email }} - {{ user.first_name }} - {{ user.last_name }} - {{ user.password }}</li>
  {% endfor %}
  <a href="{{ url_for('home') }}" class="link">Volver</a>
  <a href="{{ url_for('user_new') }}" class="link">Nuevo</a>
{% endblock %}
{% block scripts %}
   {{ super() }}
{% endblock %}