{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Perfil</h1>
    <hr class="my-4">
    <p class="lead">Nombre de usuario:   {{user.username}}</p>
    <p class="lead">Email:   {{user.email }}</p>
    <p class="lead">Nombre: {{user.first_name }}</p>
    <p class="lead">Apellido: {{user.last_name }}</p>
  </div>
</div>

{% endblock %}

