{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}

{% block content %}
    <div class="jumbotron" >
      <div class="mt-2 container">
        <div class="row">
        <div class="col-12">
           <h1 class="display-5 mb-3 mt-5 text-break">{{ config.titulo }}</h1>
      
          <h5 class="display-5 mb-3 mt-5 text-break">
              {{ config.description }}
          </h5>
        <h6>
          <strong class="display-5 mb-3 mt-5 text-break">Contacto: </strong> 
          {{ config.email }} 
        </h6>
      </div>
    </div>
    </div>
  </div>


{% endblock %}
